@import "tailwindcss";

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

html {
  font-family: monospace;
}

.fira-code {
  font-family: var(--font-fira-code), monospace;
}

.courier-prime {
  font-family: var(--font-courier-prime), monospace;
}